SOCIAL_DATABASE_URL=
GROUP_SERVICE_HOST=localhost
GROUP_SERVICE_PORT=4008

REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=social-service

FRIEND_RECOMMEND_MUTUAL_FRIEND_CAP=5
FRIEND_RECOMMEND_COMMON_GROUP_CAP=3
FRIEND_RECOMMEND_AI_WEIGHT=0.5
FRIEND_RECOMMEND_AI_TOP_K=15
FRIEND_RECOMMEND_DIVERSITY_WINDOW_SIZE=3
FRIEND_RECOMMEND_SHARED_MUTUAL_FRIEND_PENALTY=4
FRIEND_RECOMMEND_SOURCE_REPEAT_PENALTY=1
RECOMMENDATION_SERVICE_URL=http://localhost:4016
RECOMMENDATION_INTERNAL_KEY=recommendation-internal-key-123
RECOMMENDATION_SERVICE_TIMEOUT_MS=30000


RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
