# Database URL
DATABASE_URL=postgres://postgres:password@localhost:5432/se121_user_social

# System admin
SYSTEM_ADMIN_EMAIL=admin@sentimeta.com
SYSTEM_ADMIN_PASSWORD=@Zznew1234

# Clerk credentials
CLERK_SECRET_KEY=

# Kafka configurations
KAFKA_CLIENT_ID=user-service
KAFKA_GROUP_ID=user-service-group
