MONGODB_URI=mongodb://localhost:27017/se121_emotion

PROFILE_PROCESSING_WINDOW_MINUTES=30

# Kafka configurations
KAFKA_CLIENT_ID=emotion-analytics-service
KAFKA_GROUP_ID=emotion-analytics-service-group

# GROQ
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile
