MONGODB_URI=mongodb+srv://example_user
KAFKA_CLIENT_ID=emotion-analytics-service
KAFKA_GROUP_ID=emotion-analytics-service-group

PORT=4013

REDIS_HOST=localhost
REDIS_PORT=6379

PROFILE_PROCESSING_WINDOW_MINUTES=30

RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

# GROQ
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

# Observability
ENABLE_OTEL=true
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
METRICS_PORT=5013
