# MongoDB URI
MONGODB_URI=
# Postgres database
POSTGRES_URL=
HTTP_PORT=4200

# Kafka configurations
KAFKA_CLIENT_ID=post-service
KAFKA_GROUP_ID=post-service-group

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

FIREBASE_SERVICE_ACCOUNT_PATH=firebase-service-account.json