# MongoDB URI
MONGODB_URI=mongodb+srv://huyle842005:rELI9KjYeAOjTmWn@cluster0.b0bspno.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
# Postgres database
POSTGRES_URL=postgresql://neondb_owner:npg_3N4eLSMZYHBK@ep-still-lake-a15drh94-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
HTTP_PORT=4200

# Kafka configurations
KAFKA_CLIENT_ID=post-service
KAFKA_GROUP_ID=post-service-group

CLOUDINARY_NAME=dyxdfvpgi
CLOUDINARY_API_KEY=524381439854742
CLOUDINARY_API_SECRET=htRaJ5m0cgq5QtzBOVhlAJOs63o

FIREBASE_SERVICE_ACCOUNT_PATH=firebase-service-account.json